<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Angular App</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/app.css" rel="stylesheet" media="screen">
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- <script src="js/angular.min.js"></script> -->
<script src="js/angular.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/jquery-1.8.2.js"></script>
<script src="js/app.js"></script>
</head>
<body>
	<div class="container" ng-controller="TeamCtrl">
		<div class="page-header">
		    <h1>Angular / Django Example <small>An application to learn the technologies</small></h1>
		</div>
		<div class="row">
			<div class="span8">
				<div class="input-append">
					<input  class="span2" type="text" ng-model="model.team" placeholder="Team Name">
					<button class="btn btn-inverse" ng-click="getPlayers()">Get Players</button>
				</div>
				
				<form name="newPlayerForm" ng-submit="addPlayer()" class="hero-unit">
					<h2>Add a New Player</h2>
					<div>
						<label>Name</label>
						<div>
							<input type="text" placeholder="First Name" ng-model="player.first_name">
							<input type="text" placeholder="Last Name" ng-model="player.last_name">
						</div>
					</div>
					<div class="">
						<label for="team">Team</label>
						<div>
							<select id="team" placeholder="Pick a Team" ng-model="player.team">
								<option value="PENGUINS">Penguins</option>
								<option value="PIRATES">Pirates</option>
								<option value="STEELERS">Steelers</option>
							</select>
						</div>
					</div>
		
					<button type="submit" class="btn btn-primary">Add Player</button>
				</form>
			</div>
			<div class="span4">
				
				<dl  class="dl-horizontal" ng-repeat="player in model.players">
					<dt class="muted">{{player.fields.first_name}} {{player.fields.last_name}}</dt>
					<dd class="muted">{{player.fields.team}}</dd>
				</dl>
				
			</div>
		</div>
	</div>
</body>
</html>